.ant-upload-drag-icon{
  text-align: center;
}
.ant-upload-drag-icon i{
  font-size: 55px;
}
.ant-upload-text{
  text-align: center;
}
.upload-group{
  width: 750px;
  height: 300px;
  margin-top: 60px;
}
.homePage{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  padding-bottom: 30px;
}
.upload-item{
  width: 750px;
  margin-top: 40px;
}
.upload-img-item{
  padding-bottom: 60px;
}
.log-page{
  width: 100%;
  height: 100%;
  overflow: auto;
}
.log-group{
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
  padding: 0 40px;
  flex-wrap: wrap;
}
.nothing{
  width: 220px;
}
.log-group:after {
    content: "";
    flex: auto;
 }